<% layout ('layouts/boilerplate') %>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="errorStatus text-center">404</h1>
            <div class="errorBody text-center">
                <h4>
                    <% if(err.statusCode===404) {%>
                        <%= err.message + "!" %>
                            <% } else {%>
                                <%="Something Went Wrong!"%>
                                    <%} %>
                </h4>
                <a class="btn btn-dark" href="/">&nbsp; Back to Home</a>
            </div>
        </div>